@using FirstMVC.Models;

@model IEnumerable<FirstMVC.Models.Employee>


@{
    ViewBag.Title = "Employee List";
}

<div style="font-family:Arial">
<h2>Employee List</h2>
<ul>
    @foreach (Employee employee in @Model)
    {
        <li>
            @Html.ActionLink(employee.Name, "Details", new { id = employee.EmployeeId })
        </li>
    }
</ul>
</div>
@Html.ActionLink("Back to List", "Index", "Department")
