@using FirstMVC.Models;

@model IEnumerable<Department>


@{
    ViewBag.Title = "Departments List";
}

<div style="font-family:arial">
<h2>Departments List</h2>
    <ul>
        @foreach (Department department in @Model)
        {
            <li>
                @Html.ActionLink(department.Name,"Index","Employee2",new {DepartmentId=department.ID },null)
            </li>
        }
    </ul>
</div>

